.App{
  width: 100%;
  margin: 0;
  padding: 0;
}

.Header{ 
  width: 100%;
  background-color: rgb(12,60,96); 
  margin: 0% 0%; 
  padding: 1% 0; 
  text-align: center; 
  overflow: hidden; 
  position: fixed; 
  /* border: 1px solid white; */
}

.Header > ul {
  list-style-type: none;
}

.Header > ul > li {
  float: left;
}

.hover:hover{
  font-size: 20px;
  font-weight: 800;
}

.Header-logo{
  margin: 0 10% 0 0;
  font-size: 28px;
  margin: 0 20% 0 10%;
}

.Header-logo > span {
  color: rgb(103,202,218);
}

.Header-content{
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Space{
  /* height: 10  0px; */
  /* height: 50%; */
}

.App-Body{
  padding: 5% 0 0 0;
}